html {
    scroll-behavior: smooth;
}

/***** VIDEO STYLING *****/
/* Formatting for background video */
body {
    margin: 0%;
    background-color: black;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
    transition: 4s opacity;
    font-size: 1vw;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;

}

body.fade-out{
    opacity: 0.1;
}

h1, .Header1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.4vw;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: rgb(124, 124, 124);
    text-decoration: none;
}

q {
    font-style: italic;
}

.center {
    text-align: center;
}

img .column-pics {
    max-width: 100%;
    height: 24.44vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

.Navbar{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
    top: 0;
    z-index: 2;
    -webkit-animation: moveNav 4s;
    animation: moveNav 4s;
    text-align: center;
    margin-left: 30.3vw;
    vertical-align: middle;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a {
    float: left;
    display: block;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    font-family: 'Didot', sans-serif;
    font-size: 1.6vw;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: rgba(0, 0, 0, 0.474);
    color: whitesmoke;
    text-decoration:underline 1px;
    text-underline-offset: 4px;
}

#Coding_Video {
    position: fixed;
    left: 0; 
    min-width: 100%;
    z-index: -1;
    overflow:auto;
}

@media screen and (max-width: 576px) {
    #Coding_Video {
        display: none;
    }
}

.Video_Text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 4s;
    animation: moveVideoText 4s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

* {
    box-sizing: border-box;
}

#Slideshowbkgrd{
    background-color: rgba(255, 255, 255, 0.484);
}

.mySlides{
    display: none;
}

#Slideshowcontainer{
    width: 40vw;
    height: auto;
    padding-top: 1.5%;
    position: relative;
    margin: auto;
}

img.SlideshowImages {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.5vw;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.5s ease;
    color: rgb(255, 255, 255);
    z-index: 20;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.Previous {
    left:0;
}

.Next {
    right: 0;
}

.slidetext {
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
    background-color: rgba(218, 218, 218, 0.7);
    padding: 1%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

.Column1 {
    float: left;
    width: 50%;
    padding: 15px;
    padding-top: 2%;
    height: 400px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    overflow: hidden;
    object-fit: cover;
}

@media screen and (max-width: 576px) {
    .Column1 {
        overflow: auto;
    }
}

.Column1 .About_Text{
    text-decoration: none;
}

.column-pics {
    width: 100%;
    height: 100%;
    padding: 0.5%;
    background-color: rgb(255, 255, 255);
}

.column-pics:hover {
    
    filter: hue-rotate(30deg);
    transition: transform 1s  ease-in-out;
    transform: scale(1.01);
    overflow:visible;
}

.Column2 {
    float: left;
    width: 50%;
    height: 400px;
}

.Column3 {
    float: left;
    width: 50%;
    padding: 15px;
    padding-top: 2%;
    height: 400px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    overflow: hidden;
    object-fit:cover
}

.Github-logo {
    width: 100%;
    padding-top: -10%;
    margin-top: -24%;
    object-fit: scale-down;
    overflow: hidden;
    z-index: -1;
}

.image-text {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 179%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
}
.center a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.Column_Tall {
    padding-top: 0%;
    height: 450px;
    object-fit: scale-down;
}

.Column_Tall2 {
    padding-top: 2%;
    height: 450px;
    object-fit: scale-down;
    overflow: hidden;
    font-size: 14px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    border-radius: 3px;
    padding: 10px;
}

.OpenFormButton {
    position: fixed;
    bottom: 3.75vw;
    right: 1.5vw;
    width: 19vw;
    height: 4.5vw;
    font-size: 1.5vw;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgb(54, 54, 54);
    color: rgb(241, 255, 242);
    cursor: pointer;
    -webkit-animation: formPop 4s;
    animation: formPop 4s;
}

@keyframes formPop {
    from {right: -30vw;}
    to {right: 1.5vw;}
}

@-webkit-keyframes formPop {
    from {right: -30vw;}
    to {right: 1.5vw;}
}

.OpenFormButton:hover {
    color: #41474a;
    background-color: #b9c1b9;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-color: whitesmoke;
}

.formOpened {
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 3.5vw;
    right: 1.25vw;
}

.form-container {
    max-width: 30vw;
    padding: 0.8vw;
    background-color: #b9c1b9;
    color: black;
}

.formbutton {
    min-height: 2.2vw;
    min-width: 6vw;
    color: #b9c1b9;
    background-color: #333537;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-color: whitesmoke;
    margin-left: 6vw;
    font: 1.1vw;
}

.formbutton:hover {
    color: #000000;
    background-color: #ffffff;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-color: whitesmoke;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:hover {
    box-shadow: -4px 4px 2px rgba(165, 165, 165, 0.844);
}

footer {
    position: fixed;
    background-color: black;
    height: 3.46vw;
    bottom: 0;
    overflow: hidden;
    -webkit-animation: moveFooter 4s;
    animation: moveFooter 4s;
    z-index: 1;
    width: 100%;
}

@keyframes moveFooter {
    from {left: -100vw;}
    to {left: 0vw;}
}

.footer-center {
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: -12px;
}

.icon_link {
    min-width: 24px;
    min-height: 24px;
    padding-left: 2%;
}

.Contact{
    cursor: pointer;
}